* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
   box-sizing: border-box;
}

body {
  width: 100%;
  overflow-x: hidden;
}

header{
  width: 100%;
  min-width: 1280px;
  position: absolute;
  z-index: 10;
  .header_t{
    padding: 5px;
    height: 30px;
    font-size: 14px;
    background: url(../img/top_bg.jpg);
    position: relative;
    span{
      float: right;
      color: #fff;
      margin-right: 20px;
    }
    a{
      color: #719DCB;
      &:hover{
        color: #fff;
      }
    }
  }
  .header_b{
    position: relative;
    width: 100%;
    height: 100px;
    background: rgba(255,255,255,.5);
    border-bottom: solid 8px rgba(255,255,255,.5);
    display: flex;
    justify-content: flex-end;
    a{
      color: #000;
    }
    &>ul{
      display: flex;
      margin-right: 30px;
      height: 100px;
      text-align: center;
      background: url(../img/nav_on.png) no-repeat;
      background-size: 150px 100px;
      background-position-x: 300px;
      transition: all 1s;
      &>li{
        width: 150px;
        height: 100px;
        line-height: 100px;
        position: relative;
        &:hover{
          background: #F1C40F;
          ul{
            display: block;
          }
        }
        ul{
          width: 100%;
          position: absolute;
          top: 100px;
          background: #F1C40F;
          display: none;
          li{
            width: 100%;
            height: 50px;
            line-height: 50px;
            //                      margin: 10px 0px;
            &:hover{
              background: #E38A00;
              a{
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
  .h_logo{
    position: absolute;
    top: 0px;
    left: 40px;
    background: #fff;
    img{
      width: 220px;
    }
  }
}

section {
  .banner {
    width: 100%;
    .banner_box {
      width: 1360px;
      height: 520px;
      background: url("../img/theme_banner.jpg") no-repeat center;
    }
  }

  .seek {
    width: 1284px;
    height: 73px;
    background: white;
    margin: 0 auto 30px;
    margin-top: -40px;
    box-shadow: 3px 3px 3px #cccccc;
    span:nth-child(1) {
      font-size: 14px;
      color: #737171;
      line-height: 73px;
      padding-left: 2rem;
    }
    span:nth-child(2) {
      float: right;
      display: inline-block;
      margin-top: 20px;
      margin-right: 50px;
      input[type='text'] {
        width: 212px;
        height: 30px;
        border: 1px solid #c0c0c0;
        background: white;
        display: inline-block;
        float: left;
      }
      input[type='button'] {
        width: 30px;
        height: 32px;
        background: #1c8eca;
        border: 2px solid #1c8eca;
        display: inline-block;
        float: left;
        background: url("../img/btn_bg.jpg") no-repeat center;
      }
    }
  }

  .nav {
    width: 1280px;
    margin: 0 auto;
    //overflow: hidden;
    .nav_left {
      width: 300px;
      float: left;
      p {
        padding-right: 30px;
        line-height: 73px;
        background: url("../img/dot.png") no-repeat;
        color: white;
        text-align: center;
        font-size: 25px;
        font-weight: 600;
      }
      ul {
        width: 256px;
        background: #f5f8fd;
        li {
          text-align: center;
          height: 50px;
          padding: 10px 0 0px 50px;
          position: relative;
          em {
            width: 20px;
            height: 20px;
            display: inline-block;
            background: url("../img/dot.png") no-repeat;
            background-position: 0 -105px;
            float: left;
            margin: 15px;
          }
          a {
            font-size: 24px;
            color: #707070;
            font-weight: 700;
            float: left;
            line-height: 50px;
          }
          .nav2 {
            z-index: 30;
            background: #f5f8fd;
            width: 200px;
            position: absolute;
            top: 0;
            left: 255px;
            display: none;
            li {
              text-align: left;
              height: 30px;
              line-height: 30px;
              padding: 10px 0 0 10px;
            }
            li:hover {
              color: #3091dc;
            }
          }
        }
        .nav_active {
          em {
            background-position: 0 -82px;
          }
          a {
            color: #1990db;
          }
        }
        li:hover {
          em {
            background-position: 0 -82px;
            transition: 0.3s;
          }
          a {
            color: #1990db;
          }
          .nav2 {
            display: block;
          }
        }
      }
    }

    .nav_right {
      width: 915px;
      float: left;
      padding-left: 30px;
      //background: url("../img/sever1.jpg") no-repeat bottom right;
      p {
        font-size: 25px;
        color: #fd8821;
        font-weight: 500;
        padding-right: 0px;
        line-height: 3;
        width: 250px;
        background: url("../img/dashed-yellow.png") no-repeat bottom left;
      }
      #nav_txt {
        height: 200px;
        //width: 500px;
        font-size: 16px;
        color: #5e4a4a;
        text-indent: 2em;
        line-height: 1.8;
        margin-top: 30px;
        span {
          display: block;
          line-height: 2;
        }
      }
    }

    .clean {
      clear: both;
    }
  }

  .lb {
    width: 1280px;
    overflow: hidden;
    margin: 0 auto;

    .lb_top {
      width: 1260px;
      margin: 40px auto 0;
      overflow: hidden;
      position: relative;
      ul {
        //width: 1240px;
        width: 1566px;
        padding-left: 40px;
        height: 315px;
        transition: 0.3s;
        li {
          height: 312px;
          width: 265px;
          margin-right: 40px;
          display: inline-block;
          float: left;
          background: red;
          position: relative;
          box-shadow: 3px 3px 3px #EEEEEE;
          .lb_img {
            width: 100%;
            height: 100%;
            img {
              width: 100%;
            }
          }
          .lb_txt1 {
            width: 100%;
            height: 85px;
            background: #ffffff;
            text-align: center;
            position: absolute;
            left: 0;
            bottom: 0;
            span {
              display: block;
              font-size: 22px;
             padding-top: 15px;
            }
            em {
              display: block;
              color: #8b8b8b;
            }
          }
          .lb_color{
            width: 105px;
            height: 5px;
            position: absolute;
            bottom: 0px;
            left: 78px;
          }
          .lb_txt2{
            opacity: 0;
            width: 100%;
            height: 120px;
            position: absolute;
            left: 0;
            bottom: 0;
            span{
              font-size: 18px;
              display: block;
              padding: 10px 10px 0 15px;
              font-weight: 600;
            }
            em{
              font-size: 10px;
              padding-left: 10px ;
            }
            p{
                font-size: 16px;
              padding: 10px;
            }
          }
        }
        li:nth-child(1){
          .lb_color{
            background: #FAE3F9;
          }
          .lb_txt2{
            background: #FAE3F9;
          }
        }
        li:nth-child(2){
          .lb_color{
            background: #FEE9D8;
          }
          .lb_txt2{
            background: #FEE9D8;
          }
        }
        li:nth-child(3){
          .lb_color{
            background: #D6E7FB;
          }
          .lb_txt2{
            background: #D6E7FB;
          }
        }
        li:nth-child(4){
          .lb_color{
            background: #FFF2C5;
          }
          .lb_txt2{
            background: #FFF2C5;
          }
        }
        li:nth-child(5){
          .lb_color{
            background: #E9DDFF;
          }
          .lb_txt2{
            background: #E9DDFF;
          }
        }

        li:hover{
          .lb_txt2{
            opacity: 1;
            transition: 0.3s;

          }
        }
      }
      #lb_left,#lb_right {
        display: inline-block;
        width: 80px;
        height: 80px;
        position: absolute;
        z-index: 30;
      }
      span:nth-child(2) {
        background: url("../img/theme_left.png") no-repeat left top;
        left: 0;
        top: 116px;

      }
      span:nth-child(3) {
        background: url("../img/theme_right.png") no-repeat left top;
        right: 0px;
        top: 116px;;
      }
    }

    .lb_bottom{
      margin-top: 30px;
      width: 100%;
      height: 1296px;
      ul{
        width: 100%;
        height: 1296px;
        position: relative;
        li{
          width: 1280px;
          height: 1296px;
          position: absolute;
          left: 0;
          top: 0;
          display: none;
          transition: 1s;
        }
        li:first-child{
          display: block;

        }
      }
    }
  }

}

footer {
  border-right: 1px solid red;
  width: 100%;
  background: #f6f6f6;

  .foot {
    width: 100%;
    margin: 0 auto;
    .foot_top {
      width: 100%;
      height: 253px;
      margin: 0 auto;
      background: url(../img/footer-bg.jpg) no-repeat center bottom #F6F6F6;
      display: block;
      overflow: hidden;
      .foot_top1280 {
        width: 1280px;
        height: 100%;
        margin: 0 auto;

        a {
          float: left;
          height: 100%;
          line-height: 253px;
          margin-left: 90px;
        }
        .foot_top1280_main {
          background: url(../img/footer_bg2.png) no-repeat 0px 5px;
          float: left;
          margin-top: 55px;
          margin-left: 90px;
          width: 300px;
          padding-left: 35px;
          line-height: 30px;
        }
        .foot_top1280_tu {
          float: right;
          width: 500px;
          margin-top: 40px;
          margin-right: 50px;
          a {
            margin-left: 10px;
            display: inline-block;
            width: 154px;
            height: 253px;
            img {
              display: block;
            }
          }
          a:last-child {
            width: 154px;
            height: 253px;
            img {
              width: 100%;
            }
          }
        }
      }

    }
    .foot_bottom {
      width: 100%;
      overflow: hidden;
      margin: 0 auto;
      background: #ededed;
      //height: 140px;
      //          text-align: center;
      .foot_bottom_box {
        width: 1320px;
        margin: 0 auto;
        overflow: hidden;
        .foot_bottom_left {
          float: left;
          width: 730px;
          //              height: 100%;

          text-align: center;
          font-size: 14px;
          color: #666;
          line-height: 30px;
          display: inline-block;
          margin: 0;
          padding: 0;
          margin-left: 140px;
          div {
            //                  width: 100%;
            margin: 0 auto;
            display: inline-block;

            a {
              //                      display: inline-block;
              color: #666;
              font-size: 14px;
            }
            span {
              padding: 0 15px;
            }
          }
          p {
            display: inline-block;
          }

        }
        .foot_bottom_right {
          width: 320px;
          float: right;
          margin-right: 80px;
          margin-top: 20px;
          a {
            float: left;
            margin-right: 20px;
            width: 60px;
            height: 60px;
            img {
              width: 100%;
            }
          }
          a:nth-child(2) {
            img {
              width: 60%;
            }

          }
          a:nth-child(4) {
            img {
              width: 80%;
            }

          }
        }
      }
    }
  }
}
