<!DOCTYPE html >
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no, email=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <link rel="stylesheet" href="../css/culture.css">
    <style></style>
</head>
<body ng-controller="myCtrl">
<header>
    <div class="header_t">
				<span>深圳华强方特文化科技集团股份有限公司
					<a href="#">中文</a>|
					<a href="#">ENGLISH</a>
				</span>
    </div>
    <div class="header_b">
        <ul>
					<li>
						<a href="../index.html">首页</a>
					</li>
					<li class="guanyu">
						<a href="../guanyu.html">关于华强方特</a>
						<ul class="addUl">
							<li>
								<a href="#">企业概览</a>
							</li>
							<li>
								<a href="#">核心理念</a>
							</li>
							<li>
								<a href="#">思想体系</a>
							</li>
							<li>
								<a href="#">品牌故事</a>
							</li>
							<li>
								<a href="#">企业荣誉</a>
							</li>
							<li>
								<a href="#">全国布局</a>
							</li>
							<li>
								<a href="#">联系我们</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="lose.html">主营业务</a>
						<ul class="addUl">
							<li>
								<a href="lose.html">文化科技主题乐园</a>
							</li>
							<li>
								<a href="serve.html">文化内容产品及服务</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="../rexun.html">华强方特热讯</a>
						<ul class="addUl">
							<li>
								<a href="../rexun.html">华强方特热讯</a>
							</li>
							<li>
								<a href="../rexun.html">媒体聚焦</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="../zhaobiao.html">招标信息</a>
						<ul class="addUl">
							<li>
								<a href="../zhaobiao.html">招标公告</a>
							</li>
							<li>
								<a href="../tongzhi.html">招标通知</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="../linnian.html">加入我们</a>
						<ul class="addUl">
							<li>
								<a href="../linnian.html">人才理念</a>
							</li>
							<li>
								<a href="zhaoxiannashi.html">招贤纳士</a>
							</li>
							<li>
								<a href="fazhan.html">培养发展</a>
							</li>
							<li>
								<a href="gongzuohuanjing.html">人在华强方特</a>
							</li>
						</ul>
					</li>
				</ul>
    </div>
    <div class="h_logo">
        <img src="../img/logo.png"/>
    </div>
</header>

<section>
    <div class="banner">
        <div class="banner_box"></div>
    </div>

    <div class="seek">
        <span>首页 &gt;文化产品内容及服务</span>
        <span><input type="text"><input type="button"></span>
    </div>

    <div class="nav">
        <div class="nav_left">
            <p>文化内容产品及服务</p>
            <ul>
                <li>
                    <em></em>
                    <span><a href="move.html">特种电影</a></span>
                </li>
                <li>
                    <em></em>
                    <span><a href="anime.html">动漫产品</a></span>
                    <ul class="nav2">
                        <li>《熊出没》系列</li>
                        <li>《小鸡不好惹》系列</li>
                        <li>《生肖传奇》系列</li>
                        <li>《小虫虫有大智慧》系列</li>
                        <li>动漫品牌发行</li>
                        <li>动漫品牌授权</li>
                    </ul>
                </li>
                <li>
                    <em></em>
                    <span><a href="theme.html">主题演艺</a></span>
                </li>
                <li class="nav_active">
                    <em></em>
                    <span><a href="culture.html">文化衍生品</a></span>
                </li>
            </ul>
        </div>
        <div class="nav_right">
            <p>文化衍生品</p>
            <div id="nav_txt">
                <img src="../img/culture1.jpg" alt="">
                <span>{{txt}}</span>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clean"></div>
    </div>

    <div class="lb">
        <div class="lb_top">
            <ul id="lb_ul">
                <li ng-repeat="i in nav">
                    <img ng-src={{i.img}} alt="" class="lb_img">
                    <div class="lb_ul_bottom">
                        <img ng-src={{i.logo}} alt="" class="lb_logo">
                        <h2>{{i.title}}</h2>
                        <p>
                            {{i.txt}}

                        </p>
                    </div>
                </li>
                <!--            <li>
                                <img src="../img/culture3.jpg" alt="" class="lb_img">
                                <div class="lb_ul_bottom">
                                    <img src="../img/culture3-2.png" alt="" class="lb_logo">
                                    <h2>原创卡通衍生品</h2>
                                    <p>
                                        以方特原创吉祥物嘟噜嘟比和嘟噜嘟妮为核心形象，开发的自主创意衍生产品，该系列产品类型已涵盖了玩具、服装鞋帽、家居、学习用品等八大领域。

                                    </p>
                                </div>
                            </li>
                            <li>
                                <img src="../img/culture4.jpg" alt="" class="lb_img">
                                <div class="lb_ul_bottom">
                                    <img src="../img/culture4-2.png" alt="" class="lb_logo">
                                    <h2>动漫衍生品</h2>
                                    <p>
                                        以方特动漫经典卡通形象为开发核心，根据动漫形象、故事开展的自主产品设计，有《熊出没》系列、《小鸡不好惹》系列、十二生肖系列和猴王系列等多个系列的产品。
                                    </p>
                                </div>
                            </li>-->
            </ul>

        </div>
    </div>

    <div class="shop">
        <div id="shop_head"></div>
        <ul id="shop_body">
            <li ng-repeat="i in shop">
                <div>
                    <img  ng-src={{i.img}} alt="">
                </div>
            </li>
<!--            <li>
                <div>
                    <img src="../img/culture6.jpg" alt="">
                </div>
            </li>
            <li>
                <div>
                    <img src="../img/culture7.jpg" alt="">
                </div>
            </li>
            <li>
                <div>
                    <img src="../img/culture8.jpg" alt="">
                </div>
            </li>-->
            <div class="clear"></div>
        </ul>
    </div>

</section>
<footer>
    <div class="foot">
        <div class="foot_top">
            <div class="foot_top1280">
                <a href="#"><img src="../img/logo2.png"/></a>
                <div class="foot_top1280_main">
                    深圳市南山区科研路16号15楼
                    <br/>
                    86-755-6682 6666
                    <br/>
                    股票代码：834793
                </div>
                <div class="foot_top1280_tu">
                    <a href="#"><img src="../img/erweima3.jpg"/></a>
                    <a href="#"><img src="../img/erweima4.jpg"/></a>
                    <a href="#"><img src="../img/erweima5.jpg"/></a>
                </div>
            </div>
        </div>
        <div class="foot_bottom">
            <div class="foot_bottom_box">
                <div class="foot_bottom_left">
                    <div>
                        <a href="#">关于华强方特</a><span>|</span>
                        <a href="#">联系我们</a><span>|</span>
                        <a href="#">主营业务</a><span>|</span>
                        <a href="#">华强方特热讯</a><span>|</span>
                        <a href="#">方特旅游</a><span>|</span>
                        <a href="#">方特动漫</a><span>|</span>
                        <a href="#">网站地图</a>
                    </div>

                    <p>版权所有：华强方特（深圳）智能技术有限公司 © 2005-2030 All rights reserved</p>
                    <p>《增值电信业务经营许可证》 许可证编号：粤B2-20090023 备案号：粤ICP备05131581号-7</p>
                </div>
                <div class="foot_bottom_right">
                    <a href="#"><img src="../img/footer1.png"/></a>
                    <a href="#"><img src="../img/footer2.gif"/></a>
                    <a href="#"><img src="../img/footer3.gif"/></a>
                    <a href="#"><img src="../img/footer4.png"/></a>

                </div>
            </div>
        </div>


    </div>
</footer>
<script src="../js/jquery.js"></script>
<script src="../js/angular.min.js"></script>
<script>
    var a = 300+"px";//设置进入第二个页面的导航栏进度

    //设置导航栏hover效果显示
    $(".header_b>ul>li").hover(function(){
        var ind = $(this).index()*150+"px";
        $(this).parent().css({"background-position-x":ind})
    },function(){
        $(this).parent().css({"background-position-x":a})
    })

    //设置导航栏点击后的效果以及它的显示位置
    $(".header_b>ul>li").click(function(){
        a = $(this).index()*150+"px";
        $(this).parent().css({"background-position-x":a})
    })

    //    轮播
    $("#lb_right").click(function () {
        index++;
        var maxIndex = $("#lb_ul li").length % 4
        var width = $("#lb_ul li")[0].offsetWidth + 45;
        if (index > maxIndex) {
            $("#lb_ul").css("transform", "transLateX(-" + width * 1 + "px)");
            index = 1;
        } else {
            $("#lb_ul").css("transform", "transLateX(-" + width * index + "px)")
        }
        console.log(index)

    })
    $("#lb_left").click(function () {
        var width = $("#lb_ul li")[0].offsetWidth + 40;
        index--;
        if (index < 0) {
            $("#lb_ul").css("transform", "transLateX(0px)")
            index = 0;
        } else {
            $("#lb_ul").css("transform", "transLateX(-" + width * index + "px)")
        }
        console.log(index)

    })

    $("#lb_ul li").hover(function () {
        var index1 = $(this).index()
        $("#lb_bottom_ul li").css({
            "display": "none",
        })
        $("#lb_bottom_ul li").eq(index1).css({
            "transition": "1s",
            "display": "block",
        })

    })

    var app = angular.module("app", [])
    app.controller("myCtrl", function ($scope, $http) {
        $scope.txt = null;
        $scope.nav = null;
        $scope.shop = null;
        $http.get("../data/lose.json").success(function (data) {
            $scope.txt = data.culture.txt;
            $scope.nav = data.culture.nav;
            $scope.shop = data.culture.shop;
            console.log($scope.txt);
            console.log($scope.nav);
        })
    })

</script>
</body>
</html>