<!DOCTYPE html>
<html ng-app="app">
	<head>
		<meta charset="utf-8" />
		<title>招贤纳士</title>
		<link rel="stylesheet" type="text/css" href="../css/zhaoxiannashi.css"/>
	</head>
	<body ng-controller="ctrl">
		<header>
			<div class="header_t">
				<span>深圳华强方特文化科技集团股份有限公司&nbsp;&nbsp;&nbsp;
					<a href="#">中文</a>&nbsp;|&nbsp;
					<a href="#">ENGLISH</a>&nbsp;&nbsp;
				</span>
			</div>
			<div class="header_b">
				<ul>
					<li>
						<a href="../index.html">首页</a>
					</li>
					<li class="guanyu">
						<a href="../guanyu.html">关于华强方特</a>
						<ul class="addUl">
							<li>
								<a href="#">企业概览</a>
							</li>
							<li>
								<a href="#">核心理念</a>
							</li>
							<li>
								<a href="#">思想体系</a>
							</li>
							<li>
								<a href="#">品牌故事</a>
							</li>
							<li>
								<a href="#">企业荣誉</a>
							</li>
							<li>
								<a href="#">全国布局</a>
							</li>
							<li>
								<a href="#">联系我们</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="lose.html">主营业务</a>
						<ul class="addUl">
							<li>
								<a href="lose.html">文化科技主题乐园</a>
							</li>
							<li>
								<a href="serve.html">文化内容产品及服务</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="../rexun.html">华强方特热讯</a>
						<ul class="addUl">
							<li>
								<a href="../rexun.html">华强方特热讯</a>
							</li>
							<li>
								<a href="../rexun.html">媒体聚焦</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="../zhaobiao.html">招标信息</a>
						<ul class="addUl">
							<li>
								<a href="../zhaobiao.html">招标公告</a>
							</li>
							<li>
								<a href="../tongzhi.html">招标通知</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="../linnian.html">加入我们</a>
						<ul class="addUl">
							<li>
								<a href="../linnian.html">人才理念</a>
							</li>
							<li>
								<a href="zhaoxiannashi.html">招贤纳士</a>
							</li>
							<li>
								<a href="fazhan.html">培养发展</a>
							</li>
							<li>
								<a href="gongzuohuanjing.html">人在华强方特</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="h_logo">
				<img src="../img/logo.png"/>
			</div>
		</header>
		<div class="banner"></div>
		<div class="content">			
			<h1>招贤纳士</h1>
			<div class="cont1">				
				<table class="table1" cellspacing="20px">
					<tr ng-repeat="obj in datas.zhaoxiannashi[0].leiming">
						<td>{{obj.lx}}</td>
						<td><a href="">{{obj.l1}}</a></td>
						<td><a href="">{{obj.l2}}</a></td>
						<td><a href="">{{obj.l3}}</a></td>
						<td><a href="">{{obj.l4}}</a></td>
						<td><a href="">{{obj.l5}}</a></td>
					</tr>
				</table>
				<div class="search">
					<input type="text" /><span></span>
				</div>
			</div>
			<table cellspacing="0" class="table2">
				<tr>
					<th>职业名称</th>
					<th>职业类型</th>
					<th>分公司</th>
					<th>工作地点</th>
					
					<th>发布时间</th>
				</tr>
				<tr ng-repeat="obj in datas.zhaoxiannashi[1].table">
					<td>{{obj.name}}</td>
					<td>{{obj.type}}</td>
					<td>{{obj.company}}</td>
					<td>{{obj.address}}</td>					
					<td>{{obj.time}}</td>
				</tr>
				<!--<tr>
					<td>项目经理（版权授权方向）</td>
					<td>市场营销类</td>
					<td>深圳总部</td>
					<td>深圳</td>
					
					<td>2017-06-07</td>
				</tr>
				<tr>
					<td>项目经理（版权授权方向）</td>
					<td>市场营销类</td>
					<td>深圳总部</td>
					<td>深圳</td>
					
					<td>2017-06-07</td>
				</tr>
				<tr>
					<td>项目经理（版权授权方向）</td>
					<td>市场营销类</td>
					<td>深圳总部</td>
					<td>深圳</td>
					
					<td>2017-06-07</td>
				</tr>
				<tr>
					<td>项目经理（版权授权方向）</td>
					<td>市场营销类</td>
					<td>深圳总部</td>
					<td>深圳</td>
					
					<td>2017-06-07</td>
				</tr>
				<tr>
					<td>项目经理（版权授权方向）</td>
					<td>市场营销类</td>
					<td>深圳总部</td>
					<td>深圳</td>
					
					<td>2017-06-07</td>
				</tr>
				<tr>
					<td>项目经理（版权授权方向）</td>
					<td>市场营销类</td>
					<td>深圳总部</td>
					<td>深圳</td>
					
					<td>2017-06-07</td>
				</tr>
				<tr>
					<td>项目经理（版权授权方向）</td>
					<td>市场营销类</td>
					<td>深圳总部</td>
					<td>深圳</td>
					
					<td>2017-06-07</td>
				</tr>
				<tr>
					<td>项目经理（版权授权方向）</td>
					<td>市场营销类</td>
					<td>深圳总部</td>
					<td>深圳</td>
					
					<td>2017-06-07</td>
				</tr>
				<tr>
					<td>项目经理（版权授权方向）</td>
					<td>市场营销类</td>
					<td>深圳总部</td>
					<td>深圳</td>
					
					<td>2017-06-07</td>
				</tr>-->
			</table>
		</div>
		<div class="foot">
				<div class="foot_top">
					<div class="foot_top1280">
						<a href="#"><img src="../img/logo_bottom.png"/></a>
						<div class="foot_top1280_main">
							深圳市南山区科研路16号15楼
							<br />
							86-755-6682 6666
							<br />
							股票代码：834793
						</div>
						<div class="foot_top1280_tu">
							<a href="#"><img src="../img/weixin_huaqiang.jpg"/></a>
							<a href="#"><img src="../img/weixin_leyou.jpg"/></a>
							<a href="#"><img src="../img/weixin_xiongchumo.jpg"/></a>
						</div>
					</div>
				</div>
				<div class="foot_bottom">
					<div class="foot_bottom_left">
						<div>
							<a href="#">关于华强方特</a><span>|</span>
							<a href="#">联系我们</a><span>|</span>
							<a href="#">主营业务</a><span>|</span>
							<a href="#">华强方特热讯</a><span>|</span>
							<a href="#">方特旅游</a><span>|</span>
							<a href="#">方特动漫</a><span>|</span>
							<a href="#">网站地图</a>
						</div>
						
						<p>版权所有：华强方特（深圳）智能技术有限公司 © 2005-2030 All rights reserved</p>
						<p>《增值电信业务经营许可证》 许可证编号：粤B2-20090023 备案号：粤ICP备05131581号-7</p>
					</div>
					<div class="foot_bottom_right">
						<a href="#"><img src="../img/gameRFID.png"/></a>
						<a href="#"><img src="../img/police00.gif"/></a>
						
						<a href="#"><img src="../img/police0.gif"/></a>
						<a href="#"><img src="img/gswj.png"/></a>
						
					</div>
				</div>
			
			
		</div>
		<script src="../js/jquery-3.1.1.min.js"></script>
		<script src="../js/angular.min.js"></script>
		<script src="../js/angular-route1.4.5.js"></script>
		<script src="../js/fangte.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var a = 750+"px";//设置进入第二个页面的导航栏进度
			//设置导航栏hover效果显示
			$(".header_b>ul>li").hover(function(){
				var ind = $(this).index()*150+"px";
				$(this).parent().css({"background-position-x":ind})
			},function(){
				$(this).parent().css({"background-position-x":a})
			})
			
			
			//设置导航栏点击后的效果以及它的显示位置
			$(".header_b>ul>li").click(function(){
				a = $(this).index()*150+"px";
				$(this).parent().css({"background-position-x":a})
			})
			//angular代码
			var app = angular.module("app",["ngRoute"]);
			app.controller("ctrl",function($scope,$http){
				$http.get("../js/data.json").success(function(data){
					$scope.datas = data;
					console.log($scope.datas.zhaoxiannashi[1].table)
				})
			})
		</script>
	</body>
</html>
